[submodule "src/external/tinyusb"]
	path = src/external/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "src/external/freertos"]
	path = src/external/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "src/external/microshell"]
	path = src/external/microshell
	url = https://github.com/marcinbor85/microshell.git